header{
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    background-color: #73310bea;
    align-items: center;
    padding: 10px;
    font-family: cursive;
     h2{
        font-family: serif;
     }
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 100px;
    margin-right: 20px;
    clip-path: circle(50% at 50% 50%);
}    

body{
    font-family: sans-serif;
    margin: 0;
    background-color:rgb(62, 40, 13);
    margin: 0;
    padding: 0;
    overflow: hidden;

}

a{
    text-decoration: none;
    color: black;
}

nav a{
    font-weight: 600;
    padding-right: 40px;
}

nav a:hover{
    color: white;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;

    }
}


h2{ 
    color: #712816;

}


video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

.cabeza{
    padding: 5px;
    background-color: rgba(61, 38, 5, 0.164)

}

.taim{
    height: auto;
    padding: 0
    position: fixed;
    display: absolute;
    color: blueviolet;
    font-family: cursiva;
    background:rgba(175, 98, 201, 0.189)
    
}

.restringido{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgba(137, 77, 48, 0.404);
    border-radius: 10px;
}

.info{
    color: white;
}

h1{
    position: auto;
    padding: 25px;
    color: rgb(255, 255, 255);
    font-family: cursive;
}

