body {
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#imagenCentrada {
    cursor: pointer;

}

body{
    background-image: url('arepas.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Establece la altura del cuerpo al 100% del viewport */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 100px;
    margin-right: 20px;
    clip-path: circle(50% at 50% 50%);
}    
 
.logo{
    position: absolute;
    display: center;
    align-items: center;
    top: 10px; /* Ajusta la distancia desde la parte superior según sea necesario */
    left: 10px; /* Ajusta la distancia desde la izquierda según sea necesario */
    max-width: 100px; /* Ajusta el ancho máximo de la imagen según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
}

